/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/backups/
/storage/laravel-backups
/storage/tmp/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.20190107
/public/old_phpmyadmin-v1/
/public/old_phpmyadmin/
.phpunit.result.cache
composer.lock
