<html>
	<head>
		<style type="text/css">
			.title {
				text-decoration: underline; 
				font-weight:bold;
			}

			td {
				text-align: justify;
			}
		</style>
	</head>
	<body>
		<div style="margin:25px;">
			<table>
				<tr>
					<td style="width: 80%"></td>
					<td style="width: 20%"></td>
				</tr>
				<tr>
					<td style="width: 80%"></td>
					<td style="width: 20%">15 Jun 2017</td>
				</tr>
				<tr>
					<td colspan="2"  style="padding-top: 20px;">
						<span class="title">Kepada Pihak Penentang</span><br><br>
						<span style="font-weight: bold">SITI FATIMAH BINTI ALI</span><br>
						NO 1, JALAN ANGGUR,<br>
						SEKSYEN 12, <br>
						WANGSA MAJU, <br>
						53131 RAWANG,<br>
						WILAYAH PERSEKUTUAN KUALA LUMPUR<br><br>

						Tuan/Puan,<br><br>
						<span style="font-weight: bold">No. Tuntutan TTPM-WP-(P)-699-2016 </span><br><br>
						Bersama-sama ini dilampirkan satu salinan award Tribunal untuk tindakan tuan/puan seperti berikut:

						<table>
							<tr>
								<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(1)</td>
								<td style="padding-top: 10px"">Tuan/puan hendaklah mematuhi award ini dalam masa 14 hari daripada tarikh award ini di terima oleh tuan/puan atau hendaklah mematuhi award ini mengikut tempoh masa yang telah ditetapkan di dalam award.</td>
							</tr>
							<tr>
								<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(2)</td>
								<td style="padding-top: 10px"">Jika tuan/puan gagal mematuhi award ini dalam masa 14 hari daripada tarikh award ini di terima oleh tuan / puan atau hendaklah mematuhi award ini mengikut tempoh masa yang telah ditetapkan di dalam award, adalah menjadi suatu kesalahan jenayah di bawah <span style="font-weight: bold">Seksyen 117 Akta Pelindungan Pengguna (APP) 1999</span> seperti berikut:

									<table>
										<tr>
											<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(a)</td>
											<td style="padding-top: 10px""><span class="title">Seksyen 117(1) APP 1999</span><br>
												<span style="text-decoration: underline;">Kesalahan Pertama</span> - Denda tidak melebihi RM5,000 atau penjara selama tidak lebih daripada 2 tahun atau kedua-duanya.
											</td>
										</tr>
										<tr>
											<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(b)</td>
											<td style="padding-top: 10px""><span class="title">Seksyen 117(2) APP 1999</span><br>
												<span style="text-decoration: underline;">Kesalahan Yang Berterusan</span> - Sebagai tambahan kepada penalti di bawah seksyen 117 (1) di atas, di denda tidak melebihi RM1,000 bagi setiap hari atau sebahagian hari selama kesalahan itu berterusan selepas sabitan.
											</td>
										</tr>
									</table>


								</td>
							</tr>
							<tr>
								<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(3)</td>
								<td style="padding-top: 10px"">Jika tuan/puan mempertikaikan award ini, tuan/puan boleh mengetepikan award ini dengan memfailkan permohonan dalam Borang 12 dalam masa tiga puluh hari selepas award diterima.</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2"  style="padding-top: 20px;">
						<span class="title">Kepada Pihak yang Menuntut</span><br><br>
						<span style="font-weight: bold">SYAZA ILANI BINTI AHMAD</span><br>
						NO 1, LORONG 10 C,<br>
						SEKSYEN 12, <br>
						WANGSA MAJU, <br>
						53000 KUALA LUMPUR,<br>
						WILAYAH PERSEKUTUAN KUALA LUMPUR<br><br>

						Jika Pihak Yang Menuntut / Penentang gagal mematuhi award ini selepas tempoh 14 hari dari tarikh award ini di terima atau gagal mematuhi award ini mengikut tempoh masa yang telah ditetapkan di dalam award, tuan / puan boleh:-

						<table>
							<tr>
								<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(1)</td>
								<td style="padding-top: 10px"">membuat aduan kepada <span style="font-weight: bold">Pengarah,  Bahagian Penguatkuasa, Kementerian Perdagangan Dalam Negeri, Koperasi dan Kepenggunaan, Aras 3 (Menara), Tingkat 17, Menara MRCB,Jalan Majlis, Seksyen 14,  40622  Shah Alam  , Selangor</span> supaya tindakan boleh diambil untuk mendakwa Pihak Yang Menuntut / Penentang di Mahkamah di bawah seksyen 117 Akta Pelindungan Pengguna 1999;</td>
							</tr>
							<tr>
								<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(2)</td>
								<td style="padding-top: 10px"">sesalinan aduan tersebut hendaklah dihantarkan kepada <span style="font-weight: bold">Ketua Seksyen (Penolong Setiausaha),  Tribunal Tuntutan Pengguna Malaysia, Pejabat Perdagangan Dalam Negeri, Koperasi Dan Kepenggunaan Selangor,Tingkat 17, Menara MRCB,Jalan Majlis, Seksyen 14,  40622  Shah Alam  , Selangor</span> untuk makluman; atau</td>
							</tr>
							<tr>
								<td width="10%" style="text-align: center; vertical-align: top; padding-top: 10px"">(3)</td>
								<td style="padding-top: 10px"">tuan / puan juga boleh memilih untuk menguatkuasakan award dengan sendiri di bawah seksyen 116(1)(b) Akta Perlindungan Pengguna 1999 di <span style="font-weight: bold">Mahkamah Magistrate Court Shah Alam</span>;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<br>
						Sekian, terima kasih. <br><br>
						<span style="font-weight: bold; font-style: italic;">" BERKHIDMAT UNTUK NEGARA " </span><br><br>

						Saya yang menurut perintah, <br>
						<img width="200px" height="150px" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Todd_Strasser_signature.png"/>
						<br>
						<span style="font-weight: bold;">(ZAMANI BIN OSMAN)</span><br>
						Penolong Setiausaha<br>
						b.p. Setiausaha<br>
						Tribunal Tuntutan Pengguna <br> Malaysia. <br>
						s.k TTPM-WP-(P)-1-2017
					</td>
				</tr>
			</table>
		</div>

	</body>
</html>