<html>
<head>
	<style type="text/css">
		.title {
			text-decoration: underline; 
			font-weight:bold;
		}
	</style>
</head>
<body>
	<div style="margin:25px;">
		<table>
			<tr>
				<td style="font-weight:bold;">PIHAK PENENTANG</td>
				<td style="text-align: right;" class="title">TTPM-(B)-(P)-1-2017</td>
			</tr>
			<tr>
				<td colspan="2" class="title" style="text-align: center;">Perakuan Penerimaan Award</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 15px;">Bahawa saya ........................................................................ No. Kad Pengenalan ...................................... jawatan* .......................................... dari Syarikat* ........................................................ mengaku telah menerima salinan asal award Tribunal Tuntutan Pengguna Malaysia ini pada .................... <span style="font-style: italic;"><small>(tarikh)</small></span> jam .................
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 25px;">Tandatangan: ..............................</td>
			</tr>
			<tr>
				<td colspan="2" style="font-weight:bold;">*Dimana berkenaan</td>
			</tr>
			<tr>
				<td colspan="2" class="title" style="text-align: center;">Perakuan Penyerahan Award</td>
			</tr>
			<tr>
				<td colspan="2" style="font-style: italic; text-align: center">(Untuk diisi oleh PSU yang menyerahkan award)</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 15px;">Bahawa saya ......................................................................... No. Kad Pengenalan ..................................... mengaku telah menyerahkan salinan asal award Tribunal Tuntutan Pengguna Malaysia ini kepada penama di atas pada............................ <span style="font-style: italic;"><small>(tarikh)</small></span> jam ....................
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 25px;">Tandatangan: ..............................</td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<td style="font-weight:bold;">PIHAK YANG MENUNTUT</td>
				<td style="text-align: right;" class="title">TTPM-(B)-(P)-1-2017</td>
			</tr>
			<tr>
				<td colspan="2" class="title" style="text-align: center;">Perakuan Penerimaan Award</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 15px;">Bahawa saya ........................................................................ No. Kad Pengenalan ...................................... mengaku telah menerima salinan asal award Tribunal Tuntutan Pengguna Malaysia ini pada .................... <span style="font-style: italic;"><small>(tarikh)</small></span> jam .................
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 25px;">Tandatangan: ..............................</td>
			</tr>
			<tr>
				<td colspan="2" style="font-weight:bold;">*Dimana berkenaan</td>
			</tr>
			<tr>
				<td colspan="2" class="title" style="text-align: center;">Perakuan Penyerahan Award</td>
			</tr>
			<tr>
				<td colspan="2" style="font-style: italic; text-align: center">(Untuk diisi oleh PSU yang menyerahkan award)</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 15px;">Bahawa saya ......................................................................... No. Kad Pengenalan ..................................... mengaku telah menyerahkan salinan asal award Tribunal Tuntutan Pengguna Malaysia ini kepada penama di atas pada............................ <span style="font-style: italic;"><small>(tarikh)</small></span> jam ....................
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top: 25px;">Tandatangan: ..............................</td>
			</tr>
		</table>
	</div>

</body>


</html>