<html>
	<head>
		<style type="text/css">
			.title {
				text-decoration: underline; 
				font-weight:bold;
			}
		</style>
	</head>
	<body>
		<div style="margin:25px;">
			<table>
				<tr>
					<td style="width: 70%"></td>
					<td style="width: 30%">TTPM-WP-(P)-1-2017</td>
				</tr>
				<tr>
					<td style="width: 70%"></td>
					<td style="width: 30%">15 Jun 2017</td>
				</tr>
				<tr>
					<td colspan="2">
						<span class="title">Kepada Pihak yang Menuntut</span><br><br>
						<span style="font-weight: bold">SYAZA ILANI BINTI AHMAD</span><br>
						NO 1, LORONG 10 C,<br>
						SEKSYEN 12, <br>
						WANGSA MAJU, <br>
						<span style="font-weight: bold">53000 KUALA LUMPUR,</span><br>
						WILAYAH PERSEKUTUAN KUALA LUMPUR<br><br>

						<span class="title">Kepada Pihak Penentang</span><br><br>
						<span style="font-weight: bold">SITI FATIMAH BINTI ALI</span><br>
						NO 1, JALAN ANGGUN,<br>
						SEKSYEN 12, <br>
						WANGSA MAJU, <br>
						<span style="font-weight: bold">65322 RAWANG,</span><br>
						WILAYAH PERSEKUTUAN KUALA LUMPUR<br>

						Tuan/Puan,<br><br>
						<span class="title">Tuntutan No. TTPM-WP-(P)-699-2016 </span><br><br>
						Dengan hormatnya saya diarah merujuk kepada perkara tersebut di atas dan bersama-sama ini dilampirkan satu salinan Award (Borang 10) yang mana tuntutan Pihak Yang Menuntut adalah <span class="title">ditolak</span>.

						<br><br>
						Sekian, terima kasih. <br><br>
						<span style="font-weight: bold; font-style: italic;">" BERKHIDMAT UNTUK NEGARA " </span><br><br>

						Saya yang menurut perintah, <br>
						<img width="200px" height="150px" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Todd_Strasser_signature.png"/>
						<br>
						<span style="font-weight: bold;">(ZAMANI BIN OSMAN)</span><br>
						KETUA SEKSYEN<br>
						b.p .Pengerusi<br>
						Tribunal Tuntutan Pengguna <br> Malaysia. <br>
						1. &nbsp;&nbsp;&nbsp;TTPM-WP-(P)-1-2017

					</td>
				</tr>
			</table>
		</div>

	</body>
</html>